<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STATUS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/status.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                {"logTimeStamp":"%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX",UTC}":%msg}%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/archived/log_status.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="TRACKING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/tracking.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                {"logTimeStamp":"%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX",UTC}","trackingSample":%msg}%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/archived/log_tracking.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>



    <!-- Send DEBUGGING logs to status.log file  -->
    <logger name="status" level="INFO">
        <appender-ref ref="STATUS"/>
    </logger>


    <!-- Send tracking logs to tracking.log file  -->
    <logger name="tracking" level="INFO">
        <appender-ref ref="TRACKING"/>
    </logger>


</configuration>